@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file (e.g., styles/globals.css) */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* Optional negative margin */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* Optional spacing between columns */
  background-clip: padding-box;
}

/* Ensure images take full width of their column */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}
